header{
    background-color: yellow;
    height: 100px;

}
.nav{
    background-color: yellow;
    height: 400px;
    width: 20%;
    float: left;
    margin-right: 5px;
}
.article{
    background-color: yellow;
    height: 400px;
    width: 57%;
    float: left;
    margin-left: 17px;
   
}
.ads{
    background-color: yellow;
    height: 400px;
    width: 20%;
    float: right;
   
}
.content{
    margin-top: 30px;
    overflow: hidden;
}
footer{
    background-color: yellow;
    height: 100px;
    
}